.menu-aberto {
    position: fixed;
    left: 0px;
    width: 400px;
    height: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #707070;
    background-image: linear-gradient(to bottom, #292eec, #6ae8e5);
    display: none;
}

.secex_logo {
    position: absolute;
    top: 34px;
    left: 96px;
}

.secex_logo:hover {
    cursor: pointer;
}

.icone_cadastro {
    position: absolute;
    top: 150px;
    left: 20px;
}

h1[id="cadastro"] {
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    position: absolute;
    top: 155px;
    left: 80px;
}

.icone_configuracao {
    position: absolute;
    top: 210px;
    left: 20px;
}

h1[id="configuracao"] {
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    position: absolute;
    top: 220px;
    left: 80px;
}

h1[id="fonte"] {
    color: #ffffff;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    position: absolute;
    font-size: 18px;
    top: 270px;
    left: 75px;
}

h1[id="logistica"] {
    color: #ffffff;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    position: absolute;
    font-size: 18px;
    top: 300px;
    left: 75px;
}

.icone_calendario {
    position: absolute;
    top: 330px;
    left: 20px;
}

h1[id="calendario"] {
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    position: absolute;
    top: 335px;
    left: 75px;
}

.icone_historico {
    position: absolute;
    top: 560px;
    left: 20px;
}

h1[id="historico"] {
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    position: absolute;
    top: 565px;
    left: 80px;
}

.icone_backup {
    position: absolute;
    top: 630px;
    left: 20px;
}

h1[id="backup"] {
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    position: absolute;
    top: 630px;
    left: 80px;
}

.icone_relatorio {
    position: absolute;
    top: 700px;
    left: 28px;
}

h1[id="relatorio"] {
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    position: absolute;
    top: 705px;
    left: 80px;
}

.icone_opiniao {
    position: absolute;
    top: 820px;
    left: 28px;
}

h1[id="opiniao_menu"] {
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    position: absolute;
    top: 820px;
    left: 85px;
}

.icone_ajuda {
    position: absolute;
    top: 900px;
    left: 28px;
}

h1[id="ajuda"] {
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    position: absolute;
    top: 900px;
    left: 85px;
}

.menu-fechado {
    position: fixed;
    left: 0px;
    width: 70px;
    height: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #707070;
    background-image: linear-gradient(to bottom, #292eec, #6ae8e5);   
}

.icone_abrir {
    position: absolute;
    top: 30px;
    left: 15px;
}

.icone_abrir:hover {
    cursor: pointer;
}