.menu-aberto {
  position: fixed;
  left: 0;
  width: 310px;
  height: 100%;
  margin-right: 130px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #707070;
  background-image: linear-gradient(to bottom, #292eec, #6ae8e5);
  z-index: 10;
}

.secex_logo {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secex_logo:hover {
  cursor: pointer;
}

.icone_cadastro {
  margin-top: 60px;
  margin-left: 25px;
  display: flex;
}

h1[id="cadastro"] {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  margin-top: 5px;
  margin-left: 15px;
}

h1[id="cadastro"]:hover {
  cursor: pointer;
}

h1[id="cidade_opcao"] {
  color: #ffffff;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 18px;
  margin-left: 100px;
  border-bottom: none;
  margin-block-end: 8px;
}

h1[id="cidade_opcao"]:hover {
  cursor: pointer;
}

h1[id="usuario_opcao"] {
  color: #ffffff;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 18px;
  margin-left: 100px;
  margin-block-end: 8px;
}

h1[id="usuario_opcao"]:hover {
  cursor: pointer;
}

.icone_configuracao {
  margin-top: 30px;
  margin-left: 25px;
  display: flex;
}

h1[id="configuracao"] {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  margin-top: 10px;
  margin-left: 15px;
}

.icone_calendario {
  margin-top: 30px;
  margin-left: 25px;
  display: flex;
}

h1[id="calendario"] {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  margin-top: 10px;
  margin-left: 15px;
}

h1[id="calendario"]:hover {
  cursor: default;
}

.calendario {
  margin-top: 10px;
}

.DayPicker-Weekday {
  color: #D1E4EB;
}

.DayPicker-Day {
  color: #D1E4EB;
}

.DayPicker-Caption {
  color: #D1E4EB;
}

.icone_opiniao {
  margin-top: 100%;
  margin-left: 25px;
  display: flex;
}

h1[id="opiniao_menu"] {
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  margin-top: 12px;
  margin-left: 15px;
}

h1[id="opiniao_menu"]:hover {
  cursor: pointer;
}

.menu-fechado {
  position: fixed;
  left: 0px;
  width: 70px;
  height: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #707070;
  background-image: linear-gradient(to bottom, #292eec, #6ae8e5);
  z-index: 10;
}

.icone_abrir {
  position: absolute;
  top: 30px;
  left: 15px;
}

.icone_abrir:hover {
  cursor: pointer;
}
