.tela-login {
  width: 419px;
  height: 310px;
  border: 1px solid black;
  background: white;
  left: 71%;
  top: 10%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  display: none;
}

.icone_sair_login {
  float: right;
  padding-top: 5%;
  padding-right: 5%;
}

.icone_sair_login:hover {
  cursor: pointer;
}

input[name="usuario"] {
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 30px;
  font-size: 18px;
  color: gray;
  padding: 12px 20px 12px 65px;
  width: 324px;
  height: 52px;
  background-position: 20px 6px;
  background-repeat: no-repeat;
  background-image: url("../../../assets/ConsultaManual/icone_usuario.png");
}

input[name="senha"] {
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 30px;
  font-size: 18px;
  color: gray;
  padding: 12px 20px 12px 65px;
  width: 324px;
  height: 52px;
  background-position: 20px 6px;
  background-repeat: no-repeat;
  background-image: url("../../../assets/ConsultaManual/icone_senha.png");
}

input[name="usuario"]:focus {
  outline: 0px;
}

input[name="senha"]:focus {
  outline: 0px;
}

.usuario {
  padding-top: 20%;
  padding-left: 10%;
}

.senha {
  padding-top: 3%;
  padding-left: 10%;
}

.esqueceu_senha {
  float: left;
  padding-left: 12%;
  padding-top: 10%;
}

h1[id="esqueceu_senha"] {
  cursor: pointer;
  font-size: 16px;
}

.botao_login {
  float: right;
  padding-right: 12%;
  padding-top: 8%;
}

input[name="login"] {
  background-image: url("../../../assets/ConsultaManual/botao_login0.png");
  background-repeat: no-repeat;
  padding: 20px 40px 0px 100px;
  border: 0px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

input[name="login"]:hover {
  cursor: pointer;
}

input[name="login"]:focus {
  outline: 0px;
}

input[name="login"]:active {
  background-image: url("../../../assets/ConsultaManual/botao_login1.png");
}

.erro {
  display: none;
  float: left;
  padding-top: 10%;
  padding-left: 12%;
}

h1[id="erro"] {
  color: #ff2d2d;
  font-size: 16px;
}
