<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}!</p>
  <p>Parece que um envio de relatório detalhado da viagem foi solicitado.</p>
  <p>Se foi você, então clique no link abaixo para abrir o documento:</p>
  <p>
    <a href="{{link}}">Link do relatório</a>
  </p>
  <p>Se não foi você, então descarte esse email!</p>
  <p>
    Obrigado<br/>
    <strong>Suporte SecexLog</strong>
  </p>
</div>
