.info {
    display: flex;
}

.prefere {
    display: flex;
}

.pref {
    display: none;
}

.telefone_prestador {
    width: 250px;
}

.body form input#telefone {
    height: 38px;
    width: 200px;
    margin-right: 88px;
    border-radius: 50px;
    padding: 20px;
    border: 1px solid #b0b0b0;
}

.body form input#email {
    height: 38px;
    width: 300px;
    margin-right: 88px;
    border-radius: 50px;
    padding: 20px;
    border: 1px solid #b0b0b0;
}

.css-yk16xz-control {
    width: 250px;
}

.css-1pahdxg-control {
    width: 250px;
}