.dashboard {
  width: 100%;
  height: 100%;
}

.center {
  width: 100%;
  height: 100%;

  padding-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flexbox;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column > * {
  margin: 1em 0;
}

.dashboard .modal {
  height: 250px;
  width: 200px;

  margin: 2%;

  border-radius: 38px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.dashboard .modal .counter {
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.dashboard .modal img {
  min-height: 100px;
  min-width: 100px;

  margin: 20px;
}

.dashboard .plane {
  background-color: #6ae8e5;
}

.dashboard .flying-taxi {
  background-color: #292eec;
}

.dashboard .boat {
  background-color: #8800ff;
}

.dashboard .motorboat {
  background-color: #00003a;
}

.dashboard .flying-boat {
  background-color: #8f8f8f;
}

.dashboard .speed-boat {
  background-color: #017e7b;
}

.dashboard .feedback {
  width: 450px;
  height: 180px;

  margin-left: 5%;

  border-radius: 38px;

  background-color: #fff;
}

.dashboard .percentage {
  width: 670px;
  height: 180px;

  border-radius: 38px;

  background-color: #fff;
}

.dashboard .alert {
  width: 670px;
  height: 180px;

  border-radius: 38px;

  background-color: #6ae8e5;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #292eec;
}

.dashboard .alert .center {
  padding: 0 60px;
}

.dashboard .alert img {
  min-height: 100px;
  min-width: 120px;
}

.dashboard .alert p {
  width: auto;
  margin-left: 15%;
}
