.cadastro h1 {
  width: 231px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  margin-top: 3.5%;
  margin-bottom: 1.5%;
  text-align: left;
  color: #707070;
}

.cadastro input[type="text"] {
  height: 38px;
  width: 171px;
  border-radius: 29px;
  margin-right: 88px;
  padding: 20px;
  border: solid 1px #707070;
  background-color: #ffffff;
}

.searchCity img {
  height: 20px;
  position: relative;
  top: 6px;
  right: 70px;
  cursor: pointer;
}

.add {
  display: flex;
}

.add img {
  height: 50px;
  position: relative;
  top: 12px;
  right: 60px;
  cursor: pointer;
}

.listCity {
  width: 53.3%;
  height: 200px;
  border-radius: 34px;
  border: solid 1px #707070;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
}

.listCity table {
  margin: 20px;
  max-height: 190px;
}

.listCity table th {
  width: 500px;
}
