.logo_secexlog {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 6%;
}

.logo_secexlog img {
  height: 13.6%;
  width: 36.3%;
}

.barra_progresso {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-block-end: 2%;
}

.barra_progresso img {
  height: 5%;
  width: 20%;
}

.consulta {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}

.operations {
  margin: 0 auto;
}

input[name="consulta"] {
  height: 58px;
  width: 140px;
  margin: 0 auto;
  background-image: url("../../../assets/ConsultaManual/botao_consulta0.png");
  background-repeat: no-repeat;
  border: 0px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

input[name="consulta"]:hover {
  cursor: pointer;
}

input[name="consulta"]:focus {
  outline: 0px;
}

input[name="consulta"]:active {
  background-image: url("../../../assets/ConsultaManual/botao_consulta1.png");
}

.retirar-cidade {
  display: table-cell;
}

.adicionar-cidade {
  display: table-cell;
  margin-left: 5%;
}

.cidade-saida1 {
  margin-bottom: 2%;
}

h1[id="retira"] {
  display: table-cell;
  font-size: 20px;
  font-weight: bold;
  color: #cccccc;
}

h1[id="retira"]:hover {
  cursor: pointer;
}

h1[id="adiciona"] {
  display: table-cell;
  font-size: 20px;
  font-weight: bold;
  color: #cccccc;
}

h1[id="adiciona"]:hover {
  cursor: pointer;
}

h1[id="retirar-cidade"] {
  display: table-cell;
  font-size: 20px;
  padding-left: 20px;
  width: auto;
}

h1[id="retirar-cidade"]:hover {
  cursor: pointer;
}

h1[id="adicionar-cidade"] {
  display: table-cell;
  font-size: 20px;
  padding-left: 20px;
  width: 270px;
}

h1[id="adicionar-cidade"] {
  cursor: pointer;
}
