.tela-resultado_ {
  padding-top: 50px;
  padding-left: 10%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.linha-1 {
  height: 150px;
  width: 100%;
  padding-top: 100px;
  display: flex;
}
.voltar {
  width: 80px;
  height: 80px;
  position: relative;
  left: 14%;
  bottom: 30px;
  margin-top: 2%;
  border-radius: 21px;
  border: solid 1px #e6dfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.linha-1 .resultado {
  margin-top: 40px;
  margin: auto;
}
.linha-1 .barra {
  width: 300px;
  margin: auto;
}

.linha-1 .barra img {
  margin-top: 10px;
}

.tela-resultado_ .trajeto {
  display: inline;
}

.nenhum_trajeto_ {
  display: flex;
  margin: 0 auto;
}

.linha-2 {
  display: flex;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
}
.linha-2 .filtros {
  display: flex;
}

.linha-2 .filtros div {
  margin-right: 20%;
}

.filtros img {
  cursor: pointer;
}

.rapidoIcone {
  width: 60px;
}

.rapidoIcone img {
  height: 60px;
  transition: 0.2s;
  cursor: pointer;
}

.rapidoIcone img:hover {
  cursor: pointer;
  transition: 0.2s;
}

.filtro img {
  width: 70%;
}

.linha-2 .filtros .custoIcone img {
  height: 60px;
}

.linha-2 .filtros .seguroIcone img {
  height: 60px;
}

.linha-2 .cidades {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-left: 15%;
}

.linha-2 .cidades div {
  margin-right: 10%;
}

.linha-2 .cidades img#flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.linha-2 .cidades img {
  height: 40px;
}

.linha-2 .cidades button {
  margin-right: 10%;
  border: none;
  cursor: pointer;
}

.cidades h1 {
  text-align: center;
  width: 150px;
  font-size: 15px;
  padding-top: 10px;
  height: 40px;
  font-weight: normal;
  border-radius: 24px;
  border: solid 1px #cecece;
  background-color: #e8e8eb;
}

.linha-2 .periodo {
  margin-left: 6%;
  margin-right: 6%;
}
.linha-2 .periodo h1 {
  text-align: center;
  width: 200px;
  font-size: 15px;
  padding-top: 10px;
  height: 40px;
  font-weight: normal;
  border-radius: 24px;
  border: solid 1px #cecece;
  background-color: #e8e8eb;
}

.cartao_trajeto {
  width: 80%;
  max-width: 1028px;
  min-height: 262px;
  margin-left: 4%;
  margin-bottom: 20px;
  border-radius: 38px;
  border: solid 1px #707070;
  background-color: #ffffff;
  display: flex;
  overflow: hidden;
}

.cartao_trajeto:hover {
  border: 1px solid #3dbec6;
  transition: 0.2s;
}

.cartao_trajeto:hover hr {
  border: 1px solid #40ccd6;
  transition: 0.2s;
}

.cartao_trajeto h1 {
  font-size: 24px;
}

.resultSaida {
  text-align: right;
}

.resultIda .purple h1,
.resultVolta .purple h1 {
  color: #633ef4;
}

.resultDestino {
  text-align: left;
  width: 200px;
}

.idaVoltaIcon img {
  position: relative;
  right: 40px;
}

.resultCenter {
  text-align: center;
  position: relative;
  bottom: 7px;
  margin-left: 5%;
  margin-right: 5%;
}

.vertical {
  border: solid 1px #a0a0a0;
}

.cartao_trajeto img#button {
  width: 80%;
  margin-top: 35%;
  transition: 0.2s;
  cursor: pointer;
}

.cartao_trajeto img#button:hover {
  transition: 0.2s;
}

.travelData {
  padding-top: 30px;
  padding-bottom: 30px;
}

.travelData h1 {
  font-size: 18px;
}

.travelDuration {
  margin-top: 30px;
}

.travelDuration h1,
.warrings h1 {
  font-size: 12px;
  font-weight: normal;
  color: #818181;
  text-align: center;
  margin-top: 5px;
}

.warrings h1 {
  color: #fc0e0e;
}

.resultIda {
  margin-bottom: 5%;
}

.cidade h1,
.modal h1 {
  font-size: 16px;
  color: #9c9c9c;
  font-weight: 550;
}

.preco h1 {
  font-size: 32px;
  margin-bottom: 8%;
  margin-top: 20%;
}

.imagem_modal {
  position: absolute;
  margin-top: 20px;
  margin-left: 30px;
}
.imagem_modal h1 {
  font-size: 20px;
}

.nenhum_trajeto_ {
  margin-top: 20px;
}

.nenhum_trajeto_ .cidades {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nenhum_trajeto_ .cidades div {
  margin-right: 10%;
}

.msg h1 {
  text-align: center;
  width: 300px;
  font-size: 15px;
  padding-top: 10px;
  height: 40px;
  border-radius: 24px;
  border: solid 1px #cecece;
  background-color: #e8e8eb;
}
.msg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-right: 10%;
}

.cardIcon {
  display: flex;
  /* width: 6000px; */
}

.cardIcon img#icon {
  height: 50px;
  margin-top: 120px;
}

.linha-2 {
  border-radius: 20px;
  width: 800px;
  height: 75px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.trajeto .data {
  margin-left: 10px;
}
