.de-sua-opiniao {
    padding-top: 50px;
    padding-left: 1500px;
    display: table-cell;
}

.login {
    padding-top: 50px;
    padding-left: 55px;
    display: table-cell;
}

h1[id="de_sua_opiniao"] {
    font-size: 20px;
    width: 150px;
    color: gray;
}

h1[id="login"] {
    font-size: 20px;
    color: gray;
}

h1[id="login"]:hover {
    cursor: pointer;
}

h1[id="de_sua_opiniao"]:hover {
    cursor: pointer;
}

.logo_tce {
    padding-top: 20px;
    padding-left: 80px;
}