.header_menu {
    width: 100%;
    height: 100px;
    display: flex;
    float: right;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
    position: fixed;
}

.de-sua-opiniao {
    margin-right: 40px;
}

.login {
    float: right;
    margin-right: 40px;
}

h1[id="de_sua_opiniao"] {
    font-size: 18px;
    color: gray;
}

h1[id="login"] {
    font-size: 18px;
    color: gray;
}

h1[id="login"]:hover {
    cursor: pointer;
}

h1[id="de_sua_opiniao"]:hover {
    cursor: pointer;
}

.logo_tce img{
    height: 50px;
    width: 50px;
}