.body {
  max-width: 1000px;
  margin: 89px 60px;
  padding: 0 20px;
}

.body h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 18px;
}

.body h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: normal;
}

.body input#text {
  height: 38px;
  width: 171px;
  margin-right: 88px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 20px;
  border: 1px solid #b0b0b0;
}

.searchUser {
  display: flex;
}

.searchUser img {
  height: 25px;
  width: 25px;
  position: relative;
  right: 70px;
  top: 7px;
  cursor: pointer;
}

.addUser {
  display: flex;
}

.addUser button {
  height: 20px;
  margin-left: 20px;
  border: none;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
  top: 10px;
}

.addUser button img {
  height: 50px;
}

.tableUser {
  max-width: 800px;
  height: 200px;
  background-color: #ffff;
  border: 1px solid #b0b0b0;
  border-radius: 20px;
  overflow: hidden;
}

.tableUser input:disabled {
  width: 70px;
  background-color: #ffff;
  border: none;
}

.tableUser table {
  margin: 10px;
  max-height: 190px;
}

.tableUser table th {
  width: 500px;
}

.tableUser img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.popUp {
  width: 300px;
  background-color: #ffff;
  border: 1px solid #b0b0b0;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 80px;
  left: 700px;
}

.popUp div {
  margin-left: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title h2 {
  position: relative;
  right: 20px;
}

.title img {
  height: 20px;
  width: 20px;
  position: relative;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.popUp input,
select {
  height: 38px;
  width: 260px;
  margin-right: 88px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #b0b0b0;
}

.popUp input {
  padding: 20px;
}

.popUp h2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.popUp h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
}

.popUp button {
  height: 38px;
  width: 95px;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  background: url("../../../assets/6_Cadastro_de_Cidade_Trejetos/salvar.png");
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  float: right;
}

.popUp button:hover {
  background: url("../../../assets/6_Cadastro_de_Cidade_Trejetos/salvar1.png");
  transition: 0.2s;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btns img {
  height: 40px;
  width: 40px;
  margin-top: 25px;
  position: relative;
  right: 20px;
  cursor: pointer;
}
