.header_cidade {
  display: flex;
  padding-top: 3%;
}

header#main-header {
  width: 200px;
  font-size: 20px;
  font-weight: bolder;
  color: #292eec;
  border-bottom: 1px solid #b0b0b0;
  padding-bottom: 4px;
}
