* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "adobe-clean", sans-serif;
  background: #f1f1f1;
  color: #707070;
  margin: auto;
  margin-bottom: 40px;
  box-sizing: border-box;
}
