.line1 {
    display: flex;
}

.line2 {
    display: flex;
}

.modal1 {
    padding-right: 1%;
    padding-block-end: 1%;
}
.modal2 {
    padding-right: 1%;
}
.modal3 {
    padding-right: 1%;
}
.modal5 {
    padding-right: 1%;
    padding-block-end: 1%;
}
.modal6 {
    padding-right: 1%;
}
.modal7 {
    padding-right: 1%;
}

.modal1 img:hover {
    cursor: pointer;
}
.modal2 img:hover {
    cursor: pointer;
}
.modal3 img:hover {
    cursor: pointer;
}
.modal4 img:hover {
    cursor: pointer;
}
.modal5 img:hover {
    cursor: pointer;
}
.modal6 img:hover {
    cursor: pointer;
}
.modal7 img:hover {
    cursor: pointer;
}
.modal8 img:hover {
    cursor: pointer;
}
.modal_a img:hover {
    cursor: pointer;
}
