.headerTrajeto {
  display: flex;
  padding-top: 0%;
}

.headerTrajeto img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  position: relative;
  top: 20px;
}

header#main-header {
  width: 220px;
  font-size: 20px;
  font-weight: bolder;
  color: #292eec;
  border-bottom: 1px solid #b0b0b0;
  padding-bottom: 4px;
}
