.tela-opiniao {
  width: 700px;
  height: 525px;
  border: 1px solid black;
  background: white;
  left: 30%;
  top: 20%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: fixed;
  display: none;
  z-index: 0;
}

.icone_sair_opiniao {
  float: right;
  padding-top: 30px;
  padding-right: 30px;
}

.icone_sair_opiniao:hover {
  cursor: pointer;
}

h1[id="opiniao"] {
  font-size: 50px;
}

.opiniao {
  padding-top: 8%;
  padding-left: 14%;
  display: flex;
  justify-content: center;
}

.assunto {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  padding-left: 3%;
  padding-top: 4%;
}

h1[id="assunto"] {
  border: 1px solid gray;
  width: 370px;
  height: 60px;
  padding-left: 37px;
  border-radius: 30px;
  padding-top: 20px;
  font-size: 20px;
}

h1[id="assunto"]:hover {
  cursor: pointer;
}

.selecione_assunto {
  border: 1px solid gray;
  width: 371px;
  height: 193px;
  border-radius: 30px;
  margin-top: 1%;
  margin-left: 25%;
}

h1[id="selecione_assunto"] {
  border: 0px;
  width: 300px;
  padding-top: 20px;
  padding-block-end: 25px;
  height: 27px;
  padding-left: 60px;
  border-radius: 30px;
  font-size: 20px;
}

h1[id="selecione_assunto"]:hover {
  cursor: pointer;
}

input[name="selecione_assunto"]:focus {
  outline: 0px;
}

.enviar {
  float: right;
  padding-right: 20%;
  padding-top: 4%;
}

input[name="enviar"] {
  background-image: url("../../../assets/ConsultaManual/icone_enviar.png");
  background-repeat: no-repeat;
  padding: 40px 38px 0px 26px;
  border: 0px;
  border-radius: 40px;
}

input[name="enviar"]:focus {
  outline: 0px;
}

input[name="enviar"]:hover {
  cursor: pointer;
}

.texto_opiniao {
  float: left;
  padding-left: 7%;
  padding-top: 1%;
  display: none;
}

textarea[id="opiniao"] {
  resize: none;
  border: 1px solid gray;
  border-radius: 30px;
  font-size: 18px;
  color: gray;
  width: 606px;
  height: 193px;
}

textarea:focus {
  outline: 0px;
}
