.DayPicker-Weekday {
  color: #fff;
}

.DayPicker-Day {
  color: #fff;
}

.DayPicker-Day--today {
  background-color: #ffffff;
  color: #7e46f8;
}

.DayPicker-Day--outside {
  background-color: transparent;

}

.DayPicker-Caption {
  color: #fff;
}

.DayPicker-NavButton--prev {
  background-image: url('../../assets/icon-back-2.png');
}

.DayPicker-NavButton--next {
  background-image: url('../../assets/icon-next.png');
}
